.timeline .MuiTimelineItem-missingOppositeContent:before{
    display: none;
}

.timeline .MuiTimelineConnector-root {
    background-color: #eee !important;
}

.timeline .timeline_dot_header > .MuiSvgIcon-root {
    font-size: 20px;
    color: darkslategray;
}